if SHIELD_TINY_DACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "tiny_dactyl-left"  //might need to be all lowercase

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_TINY_DACTYL_RIGHT

config ZMK_KEYBOARD_NAME
    default "tiny_dactyl-right"

endif

if SHIELD_TINY_DACTYL_LEFT || SHIELD_TINY_DACTYL_RIGHT

config ZMK_SPLIT
    default y

endif
